body {
    font-family: "Young+serif", sans-serif;
    background-color: hsl(31, 36%, 76%);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}
p {
    color: rgb(113, 110, 110);
}
h1  {
    font-size: 55px;
}
h1, h2 {
    font-family:  "Young+serif";
}
h2 {
    font-size: 30px;
    color: hsl(14, 45%, 34%);
}
li, table {
    color: rgb(113, 110, 110);  
}
.h-line {
    border: none; 
    height: 0;
    border-top: 1px solid #ddd;
}
main {
    background-color: white;  
    margin-top: 60px;
    margin-bottom: 80px;
    border-radius: 25px;
    max-width: 800px;
    width: 100%;
    padding: 20px;
}                
 

.food-img {
    width: 100%;
    border-radius: 15px;
}
.preparation {
    background: hsl(330, 100%, 97%);
    padding: 10px;
    border-radius: 15px;
    margin-top: 35px;
}
.duration {
    color: hsl(332, 51%, 32%);
    font-weight: 600;
    margin-left: 20px;
    font-size: 18px;
}
.preparation ul li {
    line-height: 40px;
    color: rgb(113, 110, 110);
    margin-left: 15px;
}
.preparation ul li::marker {
    color: hsl(332, 51%, 32%);
}
.ingredients, .instructions {
    line-height: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}
strong {
    color: rgb(106, 103, 103);
}
.ingredients ul li::marker,
.instructions ol li::marker {
    color: hsl(14, 45%, 34%);
    font-weight: bold;
}
table {
    border-collapse: collapse;
    line-height: 40px;
    width: 100%;
 }
 tr {
    border-bottom: 1px solid #dfdfdf;
 }
 .volume {
    padding-left: 250px;
    color: hsl(14, 45%, 34%);
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .food-img {
        width: 100%;
        height: auto;
    }
    body {
        padding: 10px;
    }
    .container {
        padding: 10px;
    }
    table {
        width: 100%;
        font-size: 14px;
    }
}